.heading {
    color: #2d2deb;
    background-color: yellowgreen;
    display: inline;
}


.navbar ul li {
    display: inline;
    background-color: yellowgreen
}

.webdev {
    color: red;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: azure;
}